<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978499062122-8d3gvgbtfu4gmbrjqsvq2jmougufn9af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978499062122-8d3gvgbtfu4gmbrjqsvq2jmougufn9af</string>
	<key>API_KEY</key>
	<string>AIzaSyDRiGda4k0-AvdYJIE0jE8K5NV4dA3ni0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>978499062122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chamodshehanka.ctse-assignment</string>
	<key>PROJECT_ID</key>
	<string>ctse-assignment-779bc</string>
	<key>STORAGE_BUCKET</key>
	<string>ctse-assignment-779bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978499062122:ios:2f4f2953b00aa0d986bd13</string>
</dict>
</plist>